.mat-card-title {
  margin: 0;
  color: #e70d2f;
  transition: ease-out 0.3s;
}

.card-number {
  font-size: 2.43rem;
  font-weight: 500;
  font-family: "Avenir Next W01", "Proxima Nova W01", "Rubik", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  letter-spacing: 1px;
  line-height: 1.2;
  display: inline-block;
  vertical-align: middle;
  padding-left: 5px;
  transition: ease-out 0.3s;
}

.mat-card:hover .card-number {
  transform: translateY(-3px);
  color: #047bf8;
}

.mat-card:hover .mat-card-title {
  transform: translateY(-2px);
}

.profile-container {
  width: 100%;
  padding: 0;
  display: inline-block;
}

.profile-background {
  position: relative;
  color: #fff;
  border-radius: 6px 6px 0 0;
  background: url(../../images/lb.jpg) no-repeat;
  height: 350px;
  background-size: cover;
}

.decor {
  position: absolute;
  bottom: -1px;
  right: 0px;
  max-width: 100%;
  z-index: 3;
}

.decor .decor-path {
  fill: #fff;
}

.profile-img {
  position: absolute;
  bottom: 0;
  right: 50px;
  z-index: 999;
  border-radius: 50%;
  width: 200px;
}

.profile__user--info {
  padding: 20px 5%;

}

.profile__user--info--details {
  width: 50%;
  display: inline-block;
  text-align: center;
  padding: 1rem 10px;
  border-bottom: #8d9092 1px solid;
}
.mat-card>.mat-card-actions:last-child {
  margin-bottom: 20px;
  padding-bottom: 0;
  margin-left: 25px;
}
.route-button {
  padding: 14px;
  border-radius: 6px;
}
