<mat-card class="profile-container">
  <mat-card-header class="profile-background">
    <svg class="decor" width="842px" height="219px" viewBox="0 0 842 219"
         preserveAspectRatio="xMaxYMax meet" version="1.1"
         xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <g transform="translate(-381.000000, -362.000000)" fill="#FFFFFF">
        <path class="decor-path"
              d="M1223,362 L1223,581 L381,581 C868.912802,575.666667 1149.57947,502.666667 1223,362 Z"></path>
      </g>
    </svg>
    <img src="../../images/avatar1.jpg" alt="" class="profile-img">
  </mat-card-header>
  <mat-card-content>
    <div class="profile__user--info">
      <div style="border-right: solid 1px #b5b5b5" class="profile__user--info--details">
        <div class="value">+995 595 986 653</div>
        <div class="label">ტელეფონის ნომერი</div>
      </div>
      <div class="profile__user--info--details">
        <div class="value">+995 595 986 653</div>
        <div class="label">ტელეფონის ნომერი</div>
      </div>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button (click)="getUser(id)" class="route-button">პროფილზე გადასვლა</button>
  </mat-card-actions>
</mat-card>
