<ul class="main-menu">

  <ng-container *ngFor="let item of sidebarElements">
    <li class="menu-item" routerLink="{{item.route}}" *ngIf="!item.shouldNotBeRendered">
      <mat-icon>{{item.iconName}}</mat-icon>
      <a>
        {{item.title}}
      </a>
    </li>
  </ng-container>
  <!--<li class="menu-item" routerLink="/home">-->
    <!--<mat-icon>home</mat-icon>-->
    <!--<a>-->
      <!--მთავარი-->
    <!--</a></li>-->
  <!--<li class="menu-item" routerLink="/admin/bonus-systems">-->
    <!--<mat-icon>perm_identity</mat-icon>-->
    <!--<a>-->
      <!--ბონუს სისტემები-->
    <!--</a></li>-->
  <!--<li class="menu-item" routerLink="/admin/evaluation-groups">-->
    <!--<mat-icon>trending_up</mat-icon>-->
    <!--<a>-->
      <!--შეფასების ჯგუფები-->
    <!--</a></li>-->
  <!--<li class="menu-item" routerLink="/admin/products">-->
    <!--<mat-icon>trending_up</mat-icon>-->
    <!--<a>-->
      <!--პროდუქტები-->
    <!--</a></li>-->
  <!--<li class="menu-item" routerLink="/admin/branch-bonus-system">-->
    <!--<mat-icon>trending_up</mat-icon>-->
    <!--<a>-->
      <!--ფილიალების ჯგუფები-->
    <!--</a></li>-->
  <!--<li class="menu-item" routerLink="/admin/staff-level-bonuses">-->
    <!--<mat-icon>trending_up</mat-icon>-->
    <!--<a>-->
      <!--მომხმარებლის ჯგუფის ბონუსები-->
    <!--</a></li>-->
  <!--<li class="menu-item" routerLink="/admin/product-reordering">-->
    <!--<mat-icon>trending_up</mat-icon>-->
    <!--<a>-->
      <!--პროდუქტების რიგითობა-->
    <!--</a></li>-->
  <!--<li class="menu-item" routerLink="/admin/product-competence-level">-->
    <!--<mat-icon>trending_up</mat-icon>-->
    <!--<a>-->
      <!--კომპეტენციის დონე-->
    <!--</a></li>-->
  <!--<li class="menu-item" routerLink="/admin/product-product-edit">-->
    <!--<mat-icon>trending_up</mat-icon>-->
    <!--<a>-->
      <!--პროდუქტების ედიტირება-->
    <!--</a></li>-->
  <!--<li class="menu-item" routerLink="/admin/additional-parameters">-->
    <!--<mat-icon>trending_up</mat-icon>-->
    <!--<a>-->
      <!--დამატებითი პარამეტრები-->
    <!--</a></li>-->
  <!--<li class="menu-item" routerLink="/admin/recalculate">-->
    <!--<mat-icon>trending_up</mat-icon>-->
    <!--<a>-->
      <!--ბონუსის გადათვლა-->
    <!--</a></li>-->
  <!--<li class="menu-item" routerLink="/admin/knowledge-base">-->
    <!--<mat-icon>trending_up</mat-icon>-->
    <!--<a>-->
      <!--ცოდნის ბაზა-->
    <!--</a></li>-->
</ul>
