<div class="padded">
  <mat-slide-toggle
    [checked]="checked"
    (change)="onSlideChange()">{{!checked ? 'ქულები' : 'რაოდენობა'}}
  </mat-slide-toggle>
</div>
<div class="padded">
  <mat-form-field>
    <mat-select placeholder="აირჩიეთ თანამშრომელი" [(value)]="selectedOption"
                (selectionChange)="filterUsers(selectedOption)">
      <mat-option [value]="0">ყველა</mat-option>
      <mat-option *ngFor="let employee of branchEmployees" [value]="employee.id">{{employee.firstName + ' '+ employee.lastName}}</mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div class="padded">

  <table mat-table [dataSource]="checked ? dataSource : mySaleQuantities" class="full-width table-padded">

    <ng-container matColumnDef="employeeName">
      <th mat-header-cell *matHeaderCellDef> პროდუქტი </th>
      <td mat-cell *matCellDef="let operation"> {{operation.firstName + ' '+ operation.lastName}} </td>
    </ng-container>

    <ng-container matColumnDef="productName">
      <th mat-header-cell *matHeaderCellDef style="width: 10%;"> პროდუქტი </th>
      <td mat-cell *matCellDef="let operation"> {{operation.product.name}} </td>
    </ng-container>

    <ng-container matColumnDef="myOwn">
      <th mat-header-cell *matHeaderCellDef> რაოდენობა </th>
      <td mat-cell *matCellDef="let operation"> {{operation.userResult}} </td>
    </ng-container>

    <ng-container matColumnDef="groupRating">
      <th mat-header-cell *matHeaderCellDef> რეიტინგი ჯგუფში </th>
      <td mat-cell *matCellDef="let operation"> {{operation.groupRating}} </td>
    </ng-container>

    <ng-container matColumnDef="bankRating">
      <th mat-header-cell *matHeaderCellDef> რეიტინგი ბანკში </th>
      <td mat-cell *matCellDef="let operation"> {{operation.bankrating}} </td>
    </ng-container>

    <ng-container matColumnDef="groupMin">
      <th mat-header-cell *matHeaderCellDef> ჯგუფის მინიმუმი </th>
      <td mat-cell *matCellDef="let operation"> {{operation.groupMin}} </td>
    </ng-container>

    <ng-container matColumnDef="groupAvg">
      <th mat-header-cell *matHeaderCellDef> ჯგუფის საშუალო </th>
      <td mat-cell *matCellDef="let operation"> {{operation.groupAverage}} </td>
    </ng-container>

    <ng-container matColumnDef="groupMax">
      <th mat-header-cell *matHeaderCellDef> ჯგუფის მაქსიმუმი </th>
      <td mat-cell *matCellDef="let operation"> {{operation.groupMax}} </td>
    </ng-container>

    <ng-container matColumnDef="bankMin">
      <th mat-header-cell *matHeaderCellDef> ბანკის მინიმუმი </th>
      <td mat-cell *matCellDef="let operation"> {{operation.bankMin}} </td>
    </ng-container>

    <ng-container matColumnDef="bankAvg">
      <th mat-header-cell *matHeaderCellDef> ბანკის საშუალო </th>
      <td mat-cell *matCellDef="let operation"> {{operation.bankAverage}} </td>
    </ng-container>

    <ng-container matColumnDef="bankMax">
      <th mat-header-cell *matHeaderCellDef> ბანკის მაქსიმუმი </th>
      <td mat-cell *matCellDef="let operation"> {{operation.bankmax}} </td>
    </ng-container>

    <ng-container matColumnDef="hrCode">
      <th mat-header-cell *matHeaderCellDef> HR კოდი </th>
      <td mat-cell *matCellDef="let operation"> {{operation.staffId}} </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
