<div>
  <div class="content-header">
    <p>თვის პრიორიტეტული პროდუქტები</p>
  </div>

  <!--<div class="content-body">-->
  <!--<div class="priority-products row">-->
  <!--<div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">-->
  <!--<div class="property-item">-->
  <!--<a class="item-media-w" href="rentals_single.html">-->
  <!--<div class="item-media" style="background-image: url(https://media.bizj.us/view/img/5803721/bank*1024xx684-385-0-64.jpg)"></div>-->
  <!--</a>-->
  <!--<div class="item-info">-->
  <!--<h3 class="item-title">-->
  <!--<a href="rentals_single.html">Perfect Located 2BR Aspen Condo</a>-->
  <!--</h3>-->
  <!--</div>-->
  <!--</div>-->
  <!--</div>-->
  <!--<div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">-->
  <!--2-->
  <!--</div>-->
  <!--<div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">-->
  <!--3-->
  <!--</div>-->
  <!--<div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">-->
  <!--4-->
  <!--</div>-->
  <!--</div>-->
  <!--</div>-->
  <div class="rentals">
    <div class="rentals-list-w">
      <div class="rentals-list">
        <div class="property-items as-grid">

          <div class="property-item">
            <a class="item-media-w" href="rentals_single.html">
              <div class="item-media" style="background-image: url(/images/property2.jpg)"></div>
            </a>
            <div class="item-info">
              <h3 class="item-title">
                <a href="rentals_single.html">იპოთეკური სესხი</a>
              </h3>

              <div class="item-reviews" style="display: block">
                <div class="reviews-count">
                  12 Comments
                </div>
                <div class="reviews-count">
                  4 attachments
                </div>
              </div>

              <div class="item-price-buttons">
                <div class="item-price">

                </div>
                <div class="item-buttons">
                  <a class="btn btn-outline-primary" href="rentals_single.html"><span>დეტალები</span><i class="os-icon os-icon-arrow-2-right"></i></a>
                </div>
              </div>

            </div>
          </div>

          <div class="property-item">
            <a class="item-media-w" href="rentals_single.html">
              <div class="item-media" style="background-image: url(/images/depoziti.jpg)"></div>
            </a>
            <div class="item-info">
              <h3 class="item-title">
                <a href="rentals_single.html">ვადიანი ანაბარი</a>
              </h3>

              <div class="item-reviews" style="display: block">
                <div class="reviews-count">
                  12 Comments
                </div>
                <div class="reviews-count">
                  4 attachments
                </div>
              </div>


              <div class="item-price-buttons">
                <div class="item-price">

                </div>
                <div class="item-buttons">
                  <a class="btn btn-outline-primary" href="rentals_single.html"><span>დეტალები</span><i class="os-icon os-icon-arrow-2-right"></i></a>
                </div>
              </div>


            </div>
          </div>

          <div class="property-item">
            <a class="item-media-w" href="rentals_single.html">
              <div class="item-media" style="background-image: url(/images/deposite.jpg)"></div>
            </a>
            <div class="item-info">
              <h3 class="item-title">
                <a href="rentals_single.html">სადეპოზიტო სერტიფიკატი</a>
              </h3>


              <div class="item-reviews" style="display: block">
                <div class="reviews-count">
                  12 Comments
                </div>
                <div class="reviews-count">
                  4 attachments
                </div>
              </div>

              <div class="item-price-buttons">
                <div class="item-price">

                </div>
                <div class="item-buttons">
                  <a class="btn btn-outline-primary" href="rentals_single.html"><span>დეტალები</span><i class="os-icon os-icon-arrow-2-right"></i></a>
                </div>
              </div>


            </div>
          </div>

          <div class="property-item">
            <a class="item-media-w" href="rentals_single.html">
              <div class="item-media" style="background-image: url(/images/axali_klienti.jpg)"></div>
            </a>
            <div class="item-info">
              <h3 class="item-title">
                <a href="rentals_single.html">ახალი კლიენტი</a>
              </h3>

              <div class="item-reviews" style="display: block">
                <div class="reviews-count">
                  12 Comments
                </div>
                <div class="reviews-count">
                  4 attachments
                </div>
              </div>



              <div class="item-price-buttons">
                <div class="item-price">

                </div>
                <div class="item-buttons">
                  <a class="btn btn-outline-primary" href="rentals_single.html"><span>დეტალები</span><i class="os-icon os-icon-arrow-2-right"></i></a>
                </div>
              </div>

            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
