<div class="ng-15-p">
  <div class="ng-padded">
    <button mat-button [matMenuTriggerFor]="menu1">ანგარიშები & ბარათები</button>
    <mat-menu #menu1="matMenu" class="nga-menu-dropdown">
      <button mat-menu-item>Item 1</button>
      <button mat-menu-item>Item 2</button>
    </mat-menu>
    
    <button mat-button [matMenuTriggerFor]="menu2">ანაბრები</button>
    <mat-menu #menu2="matMenu" class="nga-menu-dropdown">
      <button mat-menu-item>Item 1</button>
      <button mat-menu-item>Item 2</button>
    </mat-menu>
    
    <button mat-button [matMenuTriggerFor]="menu3">სესხები</button>
    <mat-menu #menu3="matMenu" class="nga-menu-dropdown">
      <button mat-menu-item>Item 1</button>
      <button mat-menu-item>Item 2</button>
    </mat-menu>
    
    <button mat-button [matMenuTriggerFor]="menu4">საკრედიტო ბარათები</button>
    <mat-menu #menu4="matMenu" class="nga-menu-dropdown">
      <button mat-menu-item>Item 1</button>
      <button mat-menu-item>Item 2</button>
    </mat-menu>
    
    <button mat-button [matMenuTriggerFor]="menu5">დისტანციური მომსახურება</button>
    <mat-menu #menu5="matMenu" class="nga-menu-dropdown">
      <button mat-menu-item>Item 1</button>
      <button mat-menu-item>Item 2</button>
    </mat-menu>
    
    <button mat-button [matMenuTriggerFor]="menu6">ფულადი გზავნილები</button>
    <mat-menu #menu6="matMenu" class="nga-menu-dropdown">
      <button mat-menu-item>Item 1</button>
      <button mat-menu-item>Item 2</button>
    </mat-menu>
    
    <button mat-button [matMenuTriggerFor]="other">სხვა</button>
    
    <mat-menu #other="matMenu" class="nga-menu-dropdown">
      <button mat-menu-item [matMenuTriggerFor]="vertebrates">Item 1</button>
      <button mat-menu-item [matMenuTriggerFor]="invertebrates">Item 1</button>
    </mat-menu>
    
    <mat-menu #vertebrates="matMenu">
      <button mat-menu-item>Item 1</button>
      <button mat-menu-item>Item 1</button>
      <button mat-menu-item>Item 1</button>
      <button mat-menu-item>Item 1</button>
      <button mat-menu-item>Item 1</button>
    </mat-menu>
    
    <mat-menu #invertebrates="matMenu">
      <button mat-menu-item>Item 1</button>
      <button mat-menu-item>Item 1</button>
      <button mat-menu-item>Item 1</button>
      <button mat-menu-item>Item 1</button>
      <button mat-menu-item>Item 1</button>
      <button mat-menu-item>Item 1</button>
      <button mat-menu-item>Item 1</button>
    </mat-menu>
  
  </div>
  <mat-divider></mat-divider>
  <div class=""></div>
  <h3 class="ng-page-title">სესხები / საპენსიო სესხი</h3>
  <div class="ng-flex-row">
    <mat-card>
      <div class="ng-video-files-container">
        <div class="ng-video-container">
          <!--<iframe width="100%" height="600px"-->
          <!--src="https://www.youtube.com/embed/Ef42MvRVsKg"-->
          <!--allow="autoplay; encrypted-media"-->
          <!--allowfullscreen>-->
          <!--</iframe>-->
          <vg-player>
            <vg-scrub-bar>
              <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
              <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
            </vg-scrub-bar>
            <vg-controls>
              <vg-play-pause></vg-play-pause>
              <vg-time-display vgProperty="current" vgFormat="mm:ss"></vg-time-display>
              
              <vg-scrub-bar style="pointer-events: none;"></vg-scrub-bar>
              
              <!--<vg-time-display vgProperty="left" vgFormat="mm:ss"></vg-time-display>-->
              <vg-time-display vgProperty="total" vgFormat="mm:ss"></vg-time-display>
              
              <vg-mute></vg-mute>
              <vg-volume></vg-volume>
              
              <vg-fullscreen></vg-fullscreen>
            </vg-controls>
            <video [vgMedia]="media" #media id="singleVideo" preload="auto" crossorigin>
              <source src="http://static.videogular.com/assets/videos/videogular.mp4"
                      type="video/mp4">
            </video>
          </vg-player>
        </div>
        <div class="ng-video-file-right-container">
          <div class="ng-files-container">
            <h3 class="m-t-0">Files</h3>
            <mat-list>
              <mat-list-item>
                <button mat-button>
                  
                  <mat-icon>attach_file</mat-icon>
                  პროდუქტის პასპორტი
                </button>
              </mat-list-item>
              <mat-list-item>
                <button mat-button>
                  
                  <mat-icon>attach_file</mat-icon>
                  პრეზენტაცია
                </button>
              </mat-list-item>
              <mat-list-item>
                <button mat-button>
                  
                  <mat-icon>attach_file</mat-icon>
                  წინსრებით ნაწილობრიც დაფ. განცხადება
                </button>
              </mat-list-item>
            </mat-list>
          </div>
          <div class="ng-files-text-container">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
            has been the industry's standard dummy text ever since the 1500s, when an unknown
            printer took a galley of type and scrambled it to make a type specimen book. It has
            survived not only five centuries, but also the leap into electronic typesetting,
            remaining essentially unchanged. It was popularised in the 1960s with the release of
            Letraset sheets containing Lorem Ipsum passages, and more recently with desktop
            publishing software like Aldus PageMaker including versions of Lorem Ipsum. Lorem
            Ipsum
            is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
            the
            industry's standard dummy text ever since the 1500s, when an unknown printer took a
            galley of type and scrambled it to make a type specimen book. It has survived not only
            five centuries, but also the leap into electronic typesetting, remaining essentially
            unchanged. It was popularised in the 1960s with the release of Letraset sheets
            containing Lorem Ipsum passages
          </div>
        </div>
      </div>
      
      <div class="ng-like-container">
        <div class="like-container-left">
          <button mat-button>
            <mat-icon>thumb_up</mat-icon>
            <span>300</span>
          </button>
          <button mat-button>
            <mat-icon>thumb_down</mat-icon>
            <span>300</span>
          </button>
          <button mat-button>
            <mat-icon>share</mat-icon>
          </button>
        </div>
        <div class="like-container-rigth">
          ნანახია 100,321-ჯერ
        </div>
      </div>
    </mat-card>
  </div>
  
  <mat-card class="ng-center m-t-10"
            [ngClass]="{'ng-full-card-faq': FAQOpen, 'ng-half-card': !FAQOpen}">
    <button mat-button (click)="expandFAQ()">
      ხშირად დასმული შეკითხვები
    </button>
  </mat-card>
  
  <div class="ng-faq-wrapper" [ngClass]="{'ng-flex': FAQOpen, 'ng-hide': !FAQOpen}">
    <mat-card class="ng-faq-right">
      <mat-list>
        <mat-list-item class="ng-cursor-pointer" *ngFor="let key of getFaqKeys();">
          <span (click)="showFAQAnswer(key)">{{FAQQuestions[key]}}</span>
        </mat-list-item>
      </mat-list>
    </mat-card>
    <mat-card class="ng-faq-left">
      <mat-list>
        <div>{{FAQAnswer}}</div>
      </mat-list>
    </mat-card>
  </div>
  
  <mat-divider class="small-divider"></mat-divider>
  
  
  <mat-card class="ng-half-card m-t-10">
    <div class="ng-comment-info-container">
      <span>კომენტარები (3)</span>
      <button mat-button (click)="expandComments()">
        {{isFullComents?'ნაკლები კომენტარის ნახვა':'მეტი კომენტარის ნახვა'}}
      </button>
    </div>
  </mat-card>
  
  <mat-divider class="small-divider"></mat-divider>
  
  <mat-card
    [ngClass]="{'ng-full-comment-card': isFullComents, 'ng-half-comment-card': !isFullComents}">
    <mat-form-field class="ng-comment-input-wrapper" id="ngCommentInput">
      <input class="ng-comment-input" matInput placeholder="Enter Comment">
      <button class="ng-comment-submit" mat-button>Comment</button>
    </mat-form-field>
    <mat-list>
      <mat-list-item>
        <div class="ng-comment">
          <span>rac kaia kaia</span>
          <div class="ng-comment-user-wrapper">
            <div class="ng-comment-user">nika garuchava</div>
            <span class="ng-comment-user-divider">
            |
          </span>
            <div class="ng-comment-time"> 2 min ago</div>
          </div>
        </div>
      </mat-list-item>
      <mat-list class="ng-comment-reply">
        <mat-list-item>
          <div class="ng-comment">
            <span>Pepper</span>
            <div class="ng-comment-user-wrapper">
              <div class="ng-comment-user">nika garuchava</div>
              <span class="ng-comment-user-divider">
            |
          </span>
              <div class="ng-comment-time"> 2 min ago</div>
            </div>
          </div>
        </mat-list-item>
      </mat-list>
      <mat-list-item>
        <div class="ng-comment">
          <span>Pepper</span>
          <div class="ng-comment-user-wrapper">
            <div class="ng-comment-user">nika garuchava</div>
            <span class="ng-comment-user-divider">
            |
          </span>
            <div class="ng-comment-time"> 2 min ago</div>
          </div>
        </div>
      </mat-list-item>
      <mat-list-item>
        <div class="ng-comment">
          <span>rac kaia kaia</span>
          <div class="ng-comment-user-wrapper">
            <div class="ng-comment-user">nika garuchava</div>
            <span class="ng-comment-user-divider">
            |
          </span>
            <div class="ng-comment-time"> 2 min ago</div>
          </div>
        </div>
      </mat-list-item>
      <mat-list class="ng-comment-reply">
        <mat-list-item>
          <div class="ng-comment">
            <span>Pepper</span>
            <div class="ng-comment-user-wrapper">
              <div class="ng-comment-user">nika garuchava</div>
              <span class="ng-comment-user-divider">
            |
          </span>
              <div class="ng-comment-time"> 2 min ago</div>
            </div>
          </div>
        </mat-list-item>
      </mat-list>
      <mat-list-item>
        <div class="ng-comment">
          <span>Pepper</span>
          <div class="ng-comment-user-wrapper">
            <div class="ng-comment-user">nika garuchava</div>
            <span class="ng-comment-user-divider">
            |
          </span>
            <div class="ng-comment-time"> 2 min ago</div>
          </div>
        </div>
      </mat-list-item>
      <mat-list-item>
        <div class="ng-comment">
          <span>rac kaia kaia</span>
          <div class="ng-comment-user-wrapper">
            <div class="ng-comment-user">nika garuchava</div>
            <span class="ng-comment-user-divider">
            |
          </span>
            <div class="ng-comment-time"> 2 min ago</div>
          </div>
        </div>
      </mat-list-item>
      <mat-list class="ng-comment-reply">
        <mat-list-item>
          <div class="ng-comment">
            <span>Pepper</span>
            <div class="ng-comment-user-wrapper">
              <div class="ng-comment-user">nika garuchava</div>
              <span class="ng-comment-user-divider">
            |
          </span>
              <div class="ng-comment-time"> 2 min ago</div>
            </div>
          </div>
        </mat-list-item>
      </mat-list>
      <mat-list-item>
        <div class="ng-comment">
          <span>Pepper</span>
          <div class="ng-comment-user-wrapper">
            <div class="ng-comment-user">nika garuchava</div>
            <span class="ng-comment-user-divider">
            |
          </span>
            <div class="ng-comment-time"> 2 min ago</div>
          </div>
        </div>
      </mat-list-item>
    </mat-list>
  </mat-card>
  
  <mat-card class="ng-text-image-container">
    <div class="ng-text-wrapper">
      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
      been
      the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
      of type and scrambled it to make a type specimen book. It has survived not only five
      centuries,
      but also the leap into electronic typesetting, remaining essentially unchanged. It was
      popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
      and more recently with desktop publishing software like Aldus PageMaker including versions of
      Lorem Ipsum.
      
      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
      been
      the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
      of type and scrambled it to make a type specimen book. It has survived not only five
      centuries,
      but also the leap into electronic typesetting, remaining essentially unchanged. It was
      popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
      and more recently with desktop publishing software like Aldus PageMaker including versions of
      Lorem Ipsum.
      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
      been
      the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
      of type and scrambled it to make a type specimen book. It has survived not only five
      centuries,
      but also the leap into electronic typesetting, remaining essentially unchanged. It was
      popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
      and more recently with desktop publishing software like Aldus PageMaker including versions of
      Lorem Ipsum.
      
      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
      been
      the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
      of type and scrambled it to make a type specimen book. It has survived not only five
      centuries,
      but also the leap into electronic typesetting, remaining essentially unchanged. It was
      popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
      and more recently with desktop publishing software like Aldus PageMaker including versions of
      Lorem Ipsum.
      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
      been
      the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
      of type and scrambled it to make a type specimen book. It has survived not only five
      centuries,
      but also the leap into electronic typesetting, remaining essentially unchanged. It was
      popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
      and more recently with desktop publishing software like Aldus PageMaker including versions of
      Lorem Ipsum.
      
      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
      been
      the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
      of type and scrambled it to make a type specimen book. It has survived not only five
      centuries,
      but also the leap into electronic typesetting, remaining essentially unchanged. It was
      popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
      and more recently with desktop publishing software like Aldus PageMaker including versions of
      Lorem Ipsum.
      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
      been
      the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
      of type and scrambled it to make a type specimen book. It has survived not only five
      centuries,
      but also the leap into electronic typesetting, remaining essentially unchanged. It was
      popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
      and more recently with desktop publishing software like Aldus PageMaker including versions of
      Lorem Ipsum.
      
      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
      been
      the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
      of type and scrambled it to make a type specimen book. It has survived not only five
      centuries,
      but also the leap into electronic typesetting, remaining essentially unchanged. It was
      popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
      and more recently with desktop publishing software like Aldus PageMaker including versions of
      Lorem Ipsum.
    </div>
  </mat-card>
</div>
