.mat-card {
  height: auto;
  width: 448px;
  position: absolute;
  top: calc((100vh - 350px)/2);
  left: calc((100vw - 448px)/2)
}
.mat-card-actions {
  margin: 0;
  padding: 8px;
}
.mat-card-title {
  font-size: 18px;
}
.mat-card-content {
  padding: 8px;
}
.mat-card>.mat-card-actions:last-child {
  margin: 0;
}

.login-spinner {
  position: absolute;
  top: 39%;
  left: 48%;
  transform: translate(-50%, -50%);
  z-index: 9999;
}
.login-backdrop {
  position: fixed;
  z-index: 9998;
  height: 100vh;
  width: 100vw;
  background-color: rgba(38, 38, 38, 0.22);
}
