<div class="logo__logged-out" *ngIf="!isAuthorized">
  <img src="../images/logo.png">
</div>
<div class="side-text" *ngIf="!isAuthorized">
  <p class="main-text">ჩემი ბონუსი</p>
  <p>მოთხოვნების მენეჯმენტი</p>
  <p>Knowledge Base</p>
  <p>კომუნიკაცია</p>
</div>
<mat-sidenav-container class="example-container"
[ngClass]="{'background-image': !isAuthorized}">
  <mat-sidenav #sidenav mode="side" [opened]="true" class="side-navbar"
               [fixedInViewport]="options.value.fixed"
               *ngIf="isAuthorized && router.url !== '/home'">
    <div class="logo" *ngIf="!isAuthorized">
      <img src="../images/logo.png">
    </div>
    <div class="logged-user">
      <div class="logged-user-info">
        <div class="user-avatar">
          <img [src]="'data:image/png;base64,'+ userData?.profilePicture">
        </div>
        <div class="logged-user-ident">
          <div class="logged-user-name">
            {{userData?.firstName + ' ' + userData?.lastName}}
          </div>
          <div class="logged-user-position"
               [matTooltip]="userData?.email"
               [matTooltipPosition]="'above'"
               [matTooltipClass]="'tooltip__bigger-text'">
            {{userData?.email}}
          </div>
        </div>
      </div>
    </div>
    <ul class="main-menu" *ngIf="userData?.isAdmin !== true">
      <li class="menu-item" routerLink="/profile">
        <mat-icon>perm_identity</mat-icon>
        <a>
          ჩემი შედეგები
        </a></li>
      <li class="menu-item" routerLink="/my-transactions">
        <mat-icon>trending_up</mat-icon>
        <a>
          ჩემი ოპერაციები
        </a></li>
      <li *ngIf="userData?.userStaffLevel === 'FIRST_LEVEL_MANAGER' || userData?.userStaffLevel === 'SECOND_LEVEL_MANAGER' || userData?.userStaffLevel === 'THIRD_LEVEL_MANAGER' || userData?.userStaffLevel === 'FOURTH_LEVEL_MANAGER'" class="menu-item" routerLink="/employees">
        <mat-icon>trending_up</mat-icon>
        <a>
          ჩემი გუნდის ოპერაციები
        </a></li>
      <li class="menu-item" routerLink="/branch-bonuses">
        <mat-icon>insert_chart</mat-icon>
        <a>
          სამოტივაციო პოლიტიკა
        </a></li>
      <li class="menu-item" routerLink="/org-chart">
        <mat-icon>device_hub</mat-icon>
        <a>
          ორგანიზაციული სტრუქტურა
        </a></li>
      <li class="menu-item" routerLink="/knowledge-base">
        <mat-icon>trending_up</mat-icon>
        <a>
          ცოდნის ბაზა
        </a></li>
    </ul>
    <ul class="main-menu" *ngIf="userData?.isAdmin">
      <li class="menu-item" routerLink="/admin/bonus-systems">
        <mat-icon>perm_identity</mat-icon>
        <a>
          ბონუს სისტემები
        </a></li>
      <li class="menu-item" routerLink="/admin/evaluation-groups">
        <mat-icon>trending_up</mat-icon>
        <a>
          შეფასების ფგუფები
        </a></li>
      <li class="menu-item" routerLink="/admin/products">
        <mat-icon>trending_up</mat-icon>
        <a>
          პროდუქტები
        </a></li>
      <li class="menu-item" routerLink="/admin/branch-bonus-system">
        <mat-icon>trending_up</mat-icon>
        <a>
          ფილიალების ჯგუფები
        </a></li>
      <li class="menu-item" routerLink="/admin/staff-level-bonuses">
        <mat-icon>trending_up</mat-icon>
        <a>
          მომხმარებლის ჯგუფის ბონუსები
        </a></li>
      <li class="menu-item" routerLink="/admin/product-documentation">
        <mat-icon>trending_up</mat-icon>
        <a>
          პროდუქტების დოკუმენტაცია
        </a></li>
      <li class="menu-item" routerLink="/admin/product-reordering">
        <mat-icon>trending_up</mat-icon>
        <a>
          პროდუქტების რიგითობა
        </a></li>
      <li class="menu-item" routerLink="/admin/product-competence-level">
        <mat-icon>trending_up</mat-icon>
        <a>
          კომპეტენციის დონე
        </a></li>
      <li class="menu-item" routerLink="/admin/product-product-edit">
        <mat-icon>trending_up</mat-icon>
        <a>
          პროდუქტების ედიტირება
        </a></li>
      <li class="menu-item" routerLink="/admin/additional-parameters">
        <mat-icon>trending_up</mat-icon>
        <a>
          დამატებითი პარამეტრები
        </a></li>
      <li class="menu-item" routerLink="/admin/recalculate">
        <mat-icon>trending_up</mat-icon>
        <a>
          ბონუსის გადათვლა
        </a></li>
    </ul>
    <button mat-raised-button (click)="logout()" class="logout">გამოსვლა</button>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

