.example-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.mat-icon {
  color: #8d9092;
  margin-right: 7px;
}
li {
  font-size: 0.9rem;
  outline: none;
}

.logout{
  position: absolute;
  bottom: 30px;
  left:50px;
}
