<div class="padded">
  <table class="table-padded">
    <thead>
    <tr>
      <th></th>
      <th *ngFor="let system of bonusSystems">{{system.name}}</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let branch of bankBranches">
      <th>{{branch.name}}</th>
      <td *ngFor="let bonus of bonusSystems">
        {{doesBranchContainsSystem(bonus.id, branch.id)}}
      </td>
    </tr>
    </tbody>
  </table>
</div>


<div class="padded">
  <p-table [value]="bankBranches">
    <ng-template pTemplate="header">
      <tr>
        <th></th>
        <th *ngFor="let system of bonusSystems">{{system.name}}</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-branches>
      <tr>
        <th>
          {{branches.name}}
        </th>
        <td pEditableColumn>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <input type="text" [value]="doesBranchContainsSystem(system.id, branches.id)">
            </ng-template>
            <ng-template pTemplate="output">
              <!--{{doesBranchContainsSystem(bonus.id, branch.id)}}-->
            </ng-template>
          </p-cellEditor>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
