<mat-grid-list cols="5" rowHeight="130px">
  <mat-grid-tile>
    <mat-card>
      <mat-card-header>
        <mat-card-title>ჩემი ქულები (წლის)</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p class="card-number">{{userData?.bonusByYear.toLocaleString()}}</p>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card>
      <mat-card-header>
        <mat-card-title>ჩემი მიმდინარე</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p class="card-number">{{userData?.bonusByCurrentMonth.toLocaleString()}}</p>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card>
      <mat-card-header>
        <mat-card-title>ბანკის მაქსიმუმი</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p class="card-number">{{userData?.highestCurrentMonth.toLocaleString()}}</p>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card>
      <mat-card-header>
        <mat-card-title>ბანკის საშუალო</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p class="card-number">{{userData?.bankCurrentMonthMean.toLocaleString()}}</p>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card>
      <mat-card-header>
        <mat-card-title>გადახრის მაჩვენებელი</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p class="card-number">{{dispersion.toLocaleString()}}%</p>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
<div class="padded">
  <mat-card class="profile-container">
    <mat-card-header class="profile-background">
      <svg class="decor" width="842px" height="219px" viewBox="0 0 842 219"
           preserveAspectRatio="xMaxYMax meet" version="1.1"
           xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <g transform="translate(-381.000000, -362.000000)" fill="#FFFFFF">
          <path class="decor-path"
                d="M1223,362 L1223,581 L381,581 C868.912802,575.666667 1149.57947,502.666667 1223,362 Z"></path>
        </g>
      </svg>
      <img src="../../images/avatar1.jpg" alt="" class="profile-img">
      <div class="user-name">
        <h5 class="name">{{userData?.firstName + ' ' + userData?.lastName}}</h5>
      </div>
    </mat-card-header>
    <mat-card-content>
      <div class="profile__user--info">
        <div style="border-right: solid 1px #b5b5b5" class="profile__user--info--details">
          <div class="value">{{userData?.mobile}}</div>
          <div class="label">ტელეფონის ნომერი</div>
        </div>
        <div class="profile__user--info--details">
          <div class="value">{{userData?.email}}</div>
          <div class="label">ელ-ფოსტა</div>
        </div>
      </div>
      <div class="padded"><mat-slide-toggle
        [checked]="checked"
        (change)="onSlideChange()">{{!checked ? 'ქულები' : 'რაოდენობა'}}</mat-slide-toggle></div>
      <div class="padded" style="display: block">
        <div class="progress-bar__container" *ngFor="let reward of progressBarData">
          <div class="progress-bar__labels">
            <div class="progress-bar__labels-left">
              {{reward.name}}
            </div>
            <div class="progress-bar__labels-right">
              {{checked? reward.saleQuantity : reward.currentMonth}}
            </div>
          </div>
          <div class="progress-bar__level1">
            <div class="progress-bar__level2" style="width: 95%">
              <div class="progress-bar__level3" [ngStyle]="{ width: reward.percentage+'%' }"></div>
            </div>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
  <mat-card class="profile__chart-container" *ngIf="isDataAvailable">
    <div class="profile__doughnut-chart">
      <div class="title-header">
        <h5 class="text-left">
          ჩემი ბონუსის ჩარტი
        </h5>
      </div>
      <canvas height="120" width="120" baseChart
              [data]="doughnutChartData"
              [labels]="doughnutChartLabels"
              [chartType]="doughnutChartType"
              [options]="doughnutOptions"
              [colors]="doughnutChartColors"
              (chartHover)="chartHovered($event)"
              (chartClick)="chartClicked($event)"></canvas>
      <div class="profile__doughnut-chart--legend" >
        <label class="chart-legend" *ngFor="let data of combinedArray" ><span class="kvadrawik" [ngStyle]="{ backgroundColor: data.color }"></span>{{data.label}}</label>
      </div>
    </div>
  </mat-card>
</div>
<div class="padded fill-av" *ngIf="isDataAvailable">
  <mat-tab-group [selectedIndex]="selected.value"
                 (selectedIndexChange)="loadLineChartData($event)"
                 *ngIf="lineChartDataAvailable">
    <mat-tab *ngFor="let product of userData.prorductsBonusesByMonths; let i = index" [label]="product.product.name">
      <canvas baseChart
              [datasets]="lineChartData"
              [labels]="lineChartLabels"
              [options]="lineChartOptions"
              [colors]="lineChartColors"
              [legend]="lineChartLegend"
              [chartType]="lineChartType"
              (chartHover)="chartHovered($event)"
              (chartClick)="chartClicked($event)"></canvas>
    </mat-tab>
  </mat-tab-group>
</div>
