<div class="padded">
  <mat-slide-toggle
    [checked]="checked"
    (change)="onSlideChange()">{{checked ? 'ბონუსი' : 'რაოდენობა'}}
  </mat-slide-toggle>
  <button mat-raised-button (click)="export()">ექსპორტი</button>
</div>
<mat-divider></mat-divider>
<div class="padded" style="padding: 0 2rem">
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="ფილტრი">
  </mat-form-field>
</div>
<mat-divider></mat-divider>
<div class="padded" style="padding: 0 2rem">
  <div class="title-header" style="margin: 0; padding: 0">
    <h5 class="text-left">
      {{checked ? 'ჩემი ბონუსი' : 'ჩემი რაოდენობა'}}
    </h5>
  </div>
</div>
<div class="padded" style="overflow-y: scroll;
height: calc(100vh - 68px - 65px - 65px)">
  <table mat-table [dataSource]="checked ? dataSourceBonuses : dataSourceSales" matSort class="full-width table-padded"
         style="padding: 0">

    <ng-container matColumnDef="total">
      <th mat-header-cell *matHeaderCellDef style="font-weight: 800"> სულ </th>
    </ng-container>

    <!-- Cost Description Column -->
    <ng-container matColumnDef="empty">
      <th mat-header-cell *matHeaderCellDef ></th>
    </ng-container>
    <ng-container matColumnDef="my-result-sum">
      <th mat-header-cell *matHeaderCellDef style="text-align: right; font-weight: 800; padding: 0.5rem 1.1rem !important;">{{checked ? myTotalBonus + ' ლ.' : myTotalOperations + ' ც.'}} </th>
    </ng-container>
    <ng-container matColumnDef="empty1">
      <th mat-header-cell *matHeaderCellDef> </th>
    </ng-container>
    <ng-container matColumnDef="empty2">
      <th mat-header-cell *matHeaderCellDef> </th>
    </ng-container>
    <ng-container matColumnDef="empty3">
      <th mat-header-cell *matHeaderCellDef style="text-align: right; font-weight: 800; padding: 0.5rem 1.1rem !important;"> {{checked ? groupMinSumBonus + ' ლ.' : groupMinSumOperations + ' ც.'}}</th>
    </ng-container>
    <ng-container matColumnDef="empty4">
      <th mat-header-cell *matHeaderCellDef style="text-align: right; font-weight: 800; padding: 0.5rem 1.1rem !important;"> {{checked ? groupAvgSumBonus + ' ლ.' : groupAvgSumOperations + ' ც.'}}</th>
    </ng-container>
    <ng-container matColumnDef="empty5">
      <th mat-header-cell *matHeaderCellDef style="text-align: right; font-weight: 800; padding: 0.5rem 1.1rem !important;"> {{checked ? groupMaxSumBonus + ' ლ.' : groupMaxSumOperations + ' ც.'}}</th>
    </ng-container>
    <ng-container matColumnDef="empty6">
      <th mat-header-cell *matHeaderCellDef style="text-align: right; font-weight: 800; padding: 0.5rem 1.1rem !important;"> {{checked ? bankMinSumBonus + ' ლ.' : bankMinSumOperations + ' ც.'}}</th>
    </ng-container>
    <ng-container matColumnDef="empty7">
      <th mat-header-cell *matHeaderCellDef style="text-align: right; font-weight: 800; padding: 0.5rem 1.1rem !important;"> {{checked ? bankAvgSumBonus + ' ლ.' : bankAvgSumOperations + ' ც.'}}</th>
    </ng-container>
    <ng-container matColumnDef="empty8">
      <th mat-header-cell *matHeaderCellDef style="text-align: right; font-weight: 800; padding: 0.5rem 1.1rem !important;"> {{checked ? bankMaxSumBonus + ' ლ.' : bankMaxSumOperations + ' ც.'}}</th>
    </ng-container>




    <ng-container matColumnDef="motivation">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> სამოტივაციო ბლოკი</th>
      <td mat-cell *matCellDef="let operation">{{operation.motivation}}</td>
    </ng-container>
    <ng-container matColumnDef="productName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> პროდუქტი/მომსახურება</th>
      <td mat-cell *matCellDef="let operation">{{operation.product.name}}</td>
    </ng-container>

    <ng-container matColumnDef="userResult">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> ჩემი შედეგი</th>
      <td mat-cell *matCellDef="let operation" style="text-align: right">{{!checked ? operation.userResult+' ც.' : (operation.userResult)+' ლ.'}}</td>
    </ng-container>

    <ng-container matColumnDef="groupRating">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> რეიტინგი ჯგუფში</th>
      <td mat-cell *matCellDef="let operation" style="text-align: right">{{operation.groupRating}}</td>
    </ng-container>

    <ng-container matColumnDef="bankrating">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> რეიტინგი ბანკში</th>
      <td mat-cell *matCellDef="let operation" style="text-align: right">{{operation.bankrating}}</td>
    </ng-container>

    <ng-container matColumnDef="groupMin">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> ჯგუფის მინიმუმი</th>
      <td mat-cell *matCellDef="let operation" style="text-align: right">{{!checked ? operation.groupMin+' ც.' : (operation.groupMin)+' ლ.'}}</td>
    </ng-container>

    <ng-container matColumnDef="groupAverage">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> ჯგუფის საშუალო</th>
      <td mat-cell *matCellDef="let operation" style="text-align: right">{{!checked ? operation.groupAverage+' ც.' : (operation.groupAverage)+' ლ.'}}
      </td>
    </ng-container>

    <ng-container matColumnDef="groupMax">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> ჯგუფის მაქსიმუმი</th>
      <td mat-cell *matCellDef="let operation" style="text-align: right">{{!checked ? operation.groupMax+' ც.' : (operation.groupMax)+' ლ.'}}</td>
    </ng-container>

    <ng-container matColumnDef="bankMin">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> ბანკის მინიმუმი</th>
      <td mat-cell *matCellDef="let operation" style="text-align: right">{{!checked ? operation.bankMin+' ც.' : (operation.bankMin)+' ლ.'}}</td>
    </ng-container>

    <ng-container matColumnDef="bankAverage">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> ბანკის საშუალო</th>
      <td mat-cell *matCellDef="let operation" style="text-align: right">{{!checked ? operation.bankAverage+' ც.' : (operation.bankAverage)+' ლ.'}}</td>
    </ng-container>

    <ng-container matColumnDef="bankmax">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> ბანკის მაქსიმუმი</th>
      <td mat-cell *matCellDef="let operation" style="text-align: right">{{!checked ? operation.bankmax+' ც.' : (operation.bankmax)+' ლ.'}}</td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-header-row *matHeaderRowDef="['total', 'empty', 'my-result-sum', 'empty1', 'empty2', 'empty3', 'empty4', 'empty5', 'empty6', 'empty7', 'empty8']; sticky: true"
        class="example-second-header-row">
    </tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
