.table-padded {
  border-collapse: separate;
  border-spacing: 0 5px;
  background-color: transparent;
}
td {
  padding: 0.9rem 1.1rem !important;
  background-color: #fff;
  border: none;
  border-right: 1px solid rgba(0, 0, 0, 0.03);
  border-bottom: none !important;
}
.table-padded tbody td:first-child {
  border-radius: 4px 0px 0px 4px;
}

tr:hover {
  -webkit-box-shadow: 0px 2px 5px rgba(69, 101, 173, 0.1);
  box-shadow: 0px 2px 5px rgba(69, 101, 173, 0.1);
  -webkit-transform: translateY(-1px) scale(1.01);
  transform: translateY(-1px) scale(1.01);
  transition: all ease-out 0.1s;
}

