<div class="padded" style="overflow: scroll; width: 100vw">
  <table class="table-padded" style="max-width: 200%;">
    <thead>
    <tr>
      <th></th>
      <th *ngFor="let system of bonusSystems">{{system.name}}</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let level of staffLevels">
      <th>{{level.name}}</th>
      <td *ngFor="let bonus of bonusSystems">
        <mat-select [value]="doesBranchContainsSystem(bonus.id, level.id)" (selectionChange)="changeStaffLevel(bonus.id, level.id, $event)">
          <mat-option [value]="1">შემსრულებელი</mat-option>
          <mat-option [value]="2">შუა დონის მენეჯერი</mat-option>
          <mat-option [value]="3">ზედა დონის მენეჯერი</mat-option>
        </mat-select>
      </td>
    </tr>
    </tbody>
  </table>
</div>
