<div class="padded" style="justify-content: start;">
  <button mat-raised-button color="warn"
          [disabled]="calculationInProgress"
          (click)="recalculateBonuses()">მიმდინარე თვის ბონუსის გადათვლა
  </button>
  <button mat-raised-button color="warn"
          [disabled]="calculationInProgress"
          (click)="recalculateBonuses()"
          style="margin-left: 20px">წინა თვის ბონუსის გადათვლა
  </button>
</div>
<div class="padded" *ngIf="calculationInProgress">
  <mat-progress-bar mode="determinate" [value]="currentProgress" color="warn"></mat-progress-bar>
</div>
