<ul class="main-menu">
  <li class="sub-header">
    <span>Layouts</span>
  </li>
  <ng-container *ngFor="let menuItem of menuElements">
    <!--<li class="selected has-sub-menu">-->
    <li [ngClass]="isMenuItemActive(menuItem.route)? 'selected has-sub-menu' : 'has-sub-menu'">
      <ng-container *ngIf="menuItem.shouldNotBeRendered">
        <a [class.disabled]="menuItem.shouldNotBeRendered">
          <div class="icon-w">
            <div class="os-icon os-icon-layout"></div>
          </div>
          <span>{{menuItem.title}}</span>
        </a>
      </ng-container>

      <ng-container *ngIf="!menuItem.shouldNotBeRendered">
        <a routerLink="{{menuItem.route}}">
          <div class="icon-w">
            <div class="os-icon os-icon-layout"></div>
          </div>
          <span>{{menuItem.title}}</span>
        </a>
      </ng-container>

      <div class="sub-menu-w">

        <ng-container *ngIf="menuItem.children">
          <div class="sub-menu-i">
            <ul class="sub-menu">
              <ng-container *ngFor="let child of menuItem.children">
                <li *ngIf="child.shouldNotBeRendered">
                  <a [class.disabled]="child.shouldNotBeRendered">{{child.title}}</a>
                </li>

                <li *ngIf="!child.shouldNotBeRendered">
                  <a routerLink="{{child.route}}">{{child.title}}</a>
                </li>
              </ng-container>
            </ul>
          </div>
        </ng-container>

        <ng-container *ngIf="menuItem.childrenType === 'component'">

          <ng-container *ngIf="menuItem.component === 'app-knowledge-base-menu-v2'">
            <app-knowledge-base-menu-v2></app-knowledge-base-menu-v2>
          </ng-container>

        </ng-container>

      </div>

    </li>
  </ng-container>
</ul>


