<ng-container *ngIf="!dataIsLoading">
  <div class="padded" style="align-items: center;">
    <mat-form-field style="width: 500px">
      <mat-select [(value)]="selectedOption">
        <mat-option [value]="-1">ყველა პროდუქტი და მომსახურება</mat-option>
        <mat-option *ngFor="let product of (checked ? userBonuses : userSales); let i = index" [value]="i" [ngStyle]="{display: product?.product.primary ? '' : 'none'}">
          {{product?.product.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-slide-toggle
      [checked]="checked"
      (change)="onSlideChange()">{{!checked ? 'რაოდენობა' : 'თანხა' }}
    </mat-slide-toggle>
  </div>
  <mat-divider></mat-divider>
  <mat-grid-list [cols]="selectedOption > -1 ? 5 : 3" rowHeight="130px">
    <mat-grid-tile>
      <mat-card>
        <mat-card-header>
          <mat-card-title>{{checked ? 'ჩემი თანხა' : 'ჩემი ოპერაციები' }}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p class="card-number" *ngIf="!checked">{{user?.userStaffLevel === 'MIDDLE_MANAGER' ? branchTotalOperations?.currentBranchSales.toLocaleString() : selectedOption > -1 ? userSales[selectedOption].userResult.toLocaleString() + ' ც' : salesTotalQuantityPrimary?.toLocaleString() + ' ც'}}</p>
          <p class="card-number" *ngIf="checked">{{user?.userStaffLevel === 'MIDDLE_MANAGER' ? branchTotalOperations?.currentBranchSales.toLocaleString() : selectedOption > -1 ? (userBonuses[selectedOption].userResult).toLocaleString()+' ლ' : (myBonusInGel)?.toLocaleString()+' ლ'}}</p>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card>
        <mat-card-header>
          <mat-card-title>ბანკის საშუალო</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p class="card-number" *ngIf="!checked">{{user?.userStaffLevel === 'MIDDLE_MANAGER' ? branchTotalOperations?.branchesMean : selectedOption > -1 ? userSales[selectedOption].bankAverage + ' ც' : bankStatistics?.saleRatingDto.mean.toLocaleString() + ' ც'}}</p>
          <p class="card-number" *ngIf="checked">{{user?.userStaffLevel === 'MIDDLE_MANAGER' ? branchTotalOperations?.branchesMean : selectedOption > -1 ? (userBonuses[selectedOption].bankAverage)+' ლ' : (bankStatistics?.bonusRatingDto.mean).toLocaleString()+' ლ'}}</p>
          <p class="rating__position" [matTooltip]="!checked ? 'ჩემი რეიტინგი ბანკში ოპერაციების მიხედვით' : 'ჩემი რეიტინგი ბანკში ბონუსის მიხედვით'">{{selectedOption === -1 && !checked ? bankStatistics?.saleRatingDto.rating  + ' |' : selectedOption === -1 && checked ? bankStatistics?.bonusRatingDto.rating  + ' |' : !checked ? userSales[selectedOption].bankrating + ' |' : userBonuses[selectedOption].bankrating + ' |'}}</p>
          <p class="rating__percentage" [matTooltip]="!checked ? 'ჩემი ოპერაციების შეფარდება ბანკის საშუალო ოპერაციებთან' : 'ჩემი ბონუსის შეფარდება ბანკის საშუალო ბონუსთან'">{{selectedOption === -1 && !checked ? (salesTotalQuantityPrimary/(bankStatistics?.saleRatingDto.mean)).toFixed(1) + '%' : selectedOption === -1 && checked ? (myBonusInGel/(bankStatistics?.bonusRatingDto.mean)).toFixed(1) + '%' : !checked ? (userSales[selectedOption].userResult/(userSales[selectedOption].bankAverage)).toFixed(1) + '%' : (userBonuses[selectedOption].userResult/(userBonuses[selectedOption].bankAverage)).toFixed(1) + '%'}}</p>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card>
        <mat-card-header>
          <mat-card-title>ბანკის მაქსიმუმი</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p class="card-number" *ngIf="!checked">{{user?.userStaffLevel === 'MIDDLE_MANAGER' ? branchTotalOperations?.branchesMax : selectedOption > -1 ? userSales[selectedOption].bankmax + ' ც' : bankStatistics?.saleRatingDto.maxPoints.toLocaleString() + ' ც'}}</p>
          <p class="card-number" *ngIf="checked">{{user?.userStaffLevel === 'MIDDLE_MANAGER' ? branchTotalOperations?.branchesMax : selectedOption > -1 ? (userBonuses[selectedOption].bankmax)+' ლ' : (bankStatistics?.bonusRatingDto.maxPoints).toLocaleString()+' ლ'}}</p>
          <p class="rating__position" [matTooltip]="!checked ? 'ჩემი რეიტინგი ბანკში ოპერაციების მიხედვით' : 'ჩემი რეიტინგი ბანკში ბონუსის მიხედვით'">{{selectedOption === -1 && !checked ? bankStatistics?.saleRatingDto.rating  + ' |' : selectedOption === -1 && checked ? bankStatistics?.bonusRatingDto.rating  + ' |' : !checked ? userSales[selectedOption].bankrating + ' |' : userBonuses[selectedOption].bankrating + ' |'}}</p>
          <p class="rating__percentage" [matTooltip]="!checked ? 'ჩემი ოპერაციების შეფარდება ბანკის მაქსიმალურ ოპერაციებთან' : 'ჩემი ბონუსის შეფარდება ბანკის მაქსიმალურ ბონუსთან'">{{selectedOption === -1 && !checked ? (salesTotalQuantityPrimary/(bankStatistics?.saleRatingDto.maxPoints)).toFixed(1) + '%' : selectedOption === -1 && checked ? (myBonusInGel/(bankStatistics?.bonusRatingDto.maxPoints)).toFixed(1) + '%' : !checked ? (userSales[selectedOption].userResult/(userSales[selectedOption].bankmax)).toFixed(1) + '%' : (userBonuses[selectedOption].userResult/(userBonuses[selectedOption].bankmax)).toFixed(1) + '%'}}</p>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile *ngIf="selectedOption > -1 && user?.userStaffLevel !== 'MIDDLE_MANAGER'">
      <mat-card>
        <mat-card-header>
          <mat-card-title>ჯგუფის საშუალო</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p class="card-number" *ngIf="!checked">{{userSales[selectedOption].groupAverage.toLocaleString() + ' ც'}}</p>
          <p class="card-number" *ngIf="checked">{{(userBonuses[selectedOption].groupAverage)+' ლ'}}</p>
          <p class="rating__position" [matTooltip]="!checked ? 'ჩემი რეიტინგი ჯგუფში ოპერაციების მიხედვით' : 'ჩემი რეიტინგი ჯგუფში ბონუსის მიხედვით'" *ngIf="selectedOption > -1">{{!checked ? userSales[selectedOption].groupRating + ' |' : userBonuses[selectedOption].groupRating + ' |'}}</p>
          <p class="rating__percentage" [matTooltip]="!checked ? 'ჩემი ოპერაციების შეფარდება ჯგუფის საშუალო ოპერაციებთან' : 'ჩემი ბონუსის შეფარდება ჯგუფის საშუალო ბონუსთან'" *ngIf="selectedOption > -1">{{!checked ? (userSales[selectedOption].userResult/(userSales[selectedOption].groupAverage)).toFixed(1) + '%' : (userBonuses[selectedOption].userResult/(userBonuses[selectedOption].groupAverage)).toFixed(1) + '%'}}</p>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile *ngIf="selectedOption > -1 && user?.userStaffLevel !== 'MIDDLE_MANAGER'">
      <mat-card>
        <mat-card-header>
          <mat-card-title>ჯგუფის მაქსიმუმი</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p class="card-number" *ngIf="!checked">{{userSales[selectedOption].groupMax.toLocaleString() + ' ც'}}</p>
          <p class="card-number" *ngIf="checked">{{(userBonuses[selectedOption].groupMax).toLocaleString()+' ლ'}}</p>
          <p class="rating__position" [matTooltip]="!checked ? 'ჩემი რეიტინგი ჯგუფში ოპერაციების მიხედვით' : 'ჩემი რეიტინგი ჯგუფში ბონუსის მიხედვით'" *ngIf="selectedOption > -1">{{!checked ? userSales[selectedOption].groupRating + ' |' : userBonuses[selectedOption].groupRating + ' |'}}</p>
          <p class="rating__percentage" [matTooltip]="!checked ? 'ჩემი ოპერაციების შეფარდება ჯგუფის მაქსიმალურ ოპერაციებთან' : 'ჩემი ბონუსის შეფარდება ჯგუფის მაქსიმალურ ბონუსთან'" *ngIf="selectedOption > -1">{{!checked ? (userSales[selectedOption].userResult/(userSales[selectedOption].groupMax)).toFixed(1) + '%' : (userBonuses[selectedOption].userResult/(userBonuses [selectedOption].groupMax)).toFixed(1) + '%'}}</p>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
  <div class="scrolled-container-center">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          ძირითადი პროდუქტები და მომსახურება
        </mat-panel-title>
        <mat-panel-description>
          {{checked ?  'ბონუსი: ' + (bonusTotalQuantityPrimary)?.toLocaleString() +' ლარი' : 'ოპერაცია: ' + salesTotalQuantityPrimary?.toLocaleString() + ' ცალი'}}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            მოზიდვა
          </mat-panel-title>
          <mat-panel-description>

          </mat-panel-description>
        </mat-expansion-panel-header>
        <ng-container *ngFor="let data of (!checked ? userSales : userBonuses)">
          <div class="progress-bar__container"
               *ngIf="data.product.primary && data.product.productMotivationalBlockType === 'ACQUISITION'">
            <div class="progress-bar__labels">
              <div class="progress-bar__labels-left" routerLink="/product">
                {{data.product.name}}
              </div>
            </div>
            <div *ngIf="!checked" class="triangle-up" style="border-top: 10px solid red"
                 [ngStyle]="{left: (data.competenceLevel.productMinSales/data.bankmax * 100) + '%', display: data.competenceLevel.productMinSales === 0 ? 'none' : ''}"
                 [matTooltip]="'მინიმალური ზღვარი: ' + data.competenceLevel.productMinSales  + ' ცალი'"
                 matTooltipPosition="above"></div>
            <mat-icon class="triangle"
                      [ngStyle]="{left: (data.userResult/data.bankmax * 100) > 95 ? '95%' : (data.userResult/data.bankmax * 100) + '%', color: !checked ? data.competenceLevel.productMinSales <= data.userResult ? 'green' : 'red' : 'green'}"
                      [matTooltip]="!checked ? 'ჩემი შედეგი: ' + data.userResult + ' ცალი' : 'ჩემი შედეგი: ' + data.userResult + ' ლარი'"
                      matTooltipPosition="above">{{!checked ? data.competenceLevel.productMinSales > data.userResult ? 'sentiment_very_dissatisfied' : 'sentiment_satisfied' : 'sentiment_satisfied'}}</mat-icon>
            <mat-icon class="triangle-down" style="color: blue"
                      [ngStyle]="{left: (data.groupAverage/data.bankmax * 100) > 95 ? '95%' : (data.groupAverage/data.bankmax * 100) + '%'}"
                      [matTooltip]="!checked ? 'ჯგუფის საშუალო: ' + data.groupAverage + ' ცალი' : 'ჯგუფის საშუალო: ' + data.groupAverage + ' ლარი'"
                      matTooltipPosition="above">group</mat-icon>
            <img src="../../images/groupMax.png" class="triangle"
                 [ngStyle]="{left: (data.groupMax/data.bankmax * 100) > 95 ? '95%' : (data.groupMax/data.bankmax * 100) + '%'}"
                 [matTooltip]="!checked ? 'ჯგუფის მაქსიმუმი: ' + data.groupMax + ' ცალი' : 'ჯგუფის მაქსიმუმი: ' + data.groupMax + ' ლარი'"
                 matTooltipPosition="above">
            <i class="fa fa-users triangle-down" style="color: #f067ff; top:8px; font-size: 0.9rem"
               [ngStyle]="{left: (data.bankAverage/data.bankmax * 100) > 95 ? '95%' : (data.bankAverage/data.bankmax * 100) + '%'}"
               [matTooltip]="!checked ? 'ბანკის საშუალო: ' + data.bankAverage + ' ცალი' : 'ბანკის საშუალო: ' + data.bankAverage + ' ლარი'"
               matTooltipPosition="above"></i>
            <img src="../../images/bankMax.png" class="triangle-down"  [ngStyle]="{left: '95%'}"
                 [matTooltip]="!checked ? 'ბანკის მაქსიმუმი: ' + data.bankmax + ' ცალი' : 'ბანკის მაქსიმუმი: ' + data.bankmax + ' ლარი'"
                 matTooltipPosition="above">
            <div class="progress-bar__level1" [ngStyle]="{ backgroundColor: !checked ? data.competenceLevel.productMinSales <= data.userResult ? 'green' : 'red' : 'green' }">
            </div>
          </div>

        </ng-container>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            დაკრედიტება
          </mat-panel-title>
          <mat-panel-description>

          </mat-panel-description>
        </mat-expansion-panel-header>
        <ng-container *ngFor="let data of (!checked ? userSales : userBonuses)">
          <div class="progress-bar__container"
               *ngIf="data.product.primary && data.product.productMotivationalBlockType === 'CREDIT_ISSUANCE'">
            <div class="progress-bar__labels">
              <div class="progress-bar__labels-left" routerLink="/product">
                {{data.product.name}}
              </div>
            </div>
            <div *ngIf="!checked" class="triangle-up" style="border-top: 10px solid red"
                 [ngStyle]="{left: (data.competenceLevel.productMinSales/data.bankmax * 100) + '%', display: data.competenceLevel.productMinSales === 0 ? 'none' : ''}"
                 [matTooltip]="'მინიმალური ზღვარი: ' + data.competenceLevel.productMinSales + ' ცალი'"
                 matTooltipPosition="above"></div>
            <mat-icon class="triangle"
                      [ngStyle]="{left: (data.userResult/data.bankmax * 100) > 95 ? '95%' : (data.userResult/data.bankmax * 100) + '%', color: !checked ? data.competenceLevel.productMinSales <= data.userResult ? 'green' : 'red' : 'green'}"
                      [matTooltip]="!checked ? 'ჩემი შედეგი: ' + data.userResult + ' ცალი' : 'ჩემი შედეგი: ' + data.userResult + ' ლარი'"
                      matTooltipPosition="above">{{!checked ? data.competenceLevel.productMinSales > data.userResult ? 'sentiment_very_dissatisfied' : 'sentiment_satisfied' : 'sentiment_satisfied'}}</mat-icon>
            <mat-icon class="triangle-down" style="color: blue"
                      [ngStyle]="{left: (data.groupAverage/data.bankmax * 100) > 95 ? '95%' : (data.groupAverage/data.bankmax * 100) + '%'}"
                      [matTooltip]="!checked ? 'ჯგუფის საშუალო: ' + data.groupAverage + ' ცალი' : 'ჯგუფის საშუალო: ' + data.groupAverage + ' ლარი'"
                      matTooltipPosition="above">group</mat-icon>
            <img src="../../images/groupMax.png" class="triangle"
                 [ngStyle]="{left: (data.groupMax/data.bankmax * 100) > 95 ? '95%' : (data.groupMax/data.bankmax * 100) + '%'}"
                 [matTooltip]="!checked ? 'ჯგუფის მაქსიმუმი: ' + data.groupMax + ' ცალი' : 'ჯგუფის მაქსიმუმი: ' + data.groupMax + ' ლარი'"
                 matTooltipPosition="above">
            <i class="fa fa-users triangle-down" style="color: #f067ff; top:8px; font-size: 0.9rem"
               [ngStyle]="{left: (data.bankAverage/data.bankmax * 100) > 95 ? '95%' : (data.bankAverage/data.bankmax * 100) + '%'}"
               [matTooltip]="!checked ? 'ბანკის საშუალო: ' + data.bankAverage + ' ცალი' : 'ბანკის საშუალო: ' + data.bankAverage + ' ლარი'"
               matTooltipPosition="above"></i>
            <img src="../../images/bankMax.png" class="triangle-down"  [ngStyle]="{left: '95%'}"
                 [matTooltip]="!checked ? 'ბანკის მაქსიმუმი: ' + data.bankmax + ' ცალი' : 'ბანკის მაქსიმუმი: ' + data.bankmax + ' ლარი'"
                 matTooltipPosition="above">
            <div class="progress-bar__level1" [ngStyle]="{ backgroundColor: !checked ? data.competenceLevel.productMinSales <= data.userResult ? 'green' : 'red' : 'green' }">
            </div>
          </div>

        </ng-container>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            მომსახურება
          </mat-panel-title>
          <mat-panel-description>

          </mat-panel-description>
        </mat-expansion-panel-header>
        <ng-container *ngFor="let data of (!checked ? userSales : userBonuses)">
          <div class="progress-bar__container"
               *ngIf="data.product.primary && data.product.productMotivationalBlockType === 'SERVICE'">
            <div class="progress-bar__labels">
              <div class="progress-bar__labels-left" routerLink="/product">
                {{data.product.name}}
              </div>
            </div>
            <div *ngIf="!checked" class="triangle-up" style="border-top: 10px solid red"
                 [ngStyle]="{left: (data.competenceLevel.productMinSales/data.bankmax * 100) + '%', display: data.competenceLevel.productMinSales === 0 ? 'none' : ''}"
                 [matTooltip]="'მინიმალური ზღვარი: ' + data.competenceLevel.productMinSales + ' ცალი'"
                 matTooltipPosition="above"></div>
            <mat-icon class="triangle"
                      [ngStyle]="{left: (data.userResult/data.bankmax * 100) > 95 ? '95%' : (data.userResult/data.bankmax * 100) + '%', color: !checked ? data.competenceLevel.productMinSales <= data.userResult ? 'green' : 'red' : 'green'}"
                      [matTooltip]="!checked ? 'ჩემი შედეგი: ' + data.userResult + ' ცალი' : 'ჩემი შედეგი: ' + data.userResult + ' ლარი'"
                      matTooltipPosition="above">{{!checked ? data.competenceLevel.productMinSales > data.userResult ? 'sentiment_very_dissatisfied' : 'sentiment_satisfied' : 'sentiment_satisfied'}}</mat-icon>
            <mat-icon class="triangle-down" style="color: blue"
                      [ngStyle]="{left: (data.groupAverage/data.bankmax * 100) > 95 ? '95%' : (data.groupAverage/data.bankmax * 100) + '%'}"
                      [matTooltip]="!checked ? 'ჯგუფის საშუალო: ' + data.groupAverage + ' ცალი' : 'ჯგუფის საშუალო: ' + data.groupAverage + ' ლარი'"
                      matTooltipPosition="above">group</mat-icon>
            <img src="../../images/groupMax.png" class="triangle"
                 [ngStyle]="{left: (data.groupMax/data.bankmax * 100) > 95 ? '95%' : (data.groupMax/data.bankmax * 100) + '%'}"
                 [matTooltip]="!checked ? 'ჯგუფის მაქსიმუმი: ' + data.groupMax + ' ცალი' : 'ჯგუფის მაქსიმუმი: ' + data.groupMax + ' ლარი'"
                 matTooltipPosition="above">
            <i class="fa fa-users triangle-down" style="color: #f067ff; top:8px; font-size: 0.9rem"
               [ngStyle]="{left: (data.bankAverage/data.bankmax * 100) > 95 ? '95%' : (data.bankAverage/data.bankmax * 100) + '%'}"
               [matTooltip]="!checked ? 'ბანკის საშუალო: ' + data.bankAverage + ' ცალი' : 'ბანკის საშუალო: ' + data.bankAverage + ' ლარი'"
               matTooltipPosition="above"></i>
            <img src="../../images/bankMax.png" class="triangle-down"  [ngStyle]="{left: '95%'}"
                 [matTooltip]="!checked ? 'ბანკის მაქსიმუმი: ' + data.bankmax + ' ცალი' : 'ბანკის მაქსიმუმი: ' + data.bankmax + ' ლარი'"
                 matTooltipPosition="above">
            <div class="progress-bar__level1" [ngStyle]="{ backgroundColor: !checked ? data.competenceLevel.productMinSales <= data.userResult ? 'green' : 'red' : 'green' }">
            </div>
          </div>

        </ng-container>
      </mat-expansion-panel>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          სხვა პროდუქტები და მომსახურება
        </mat-panel-title>
        <mat-panel-description>
          {{checked ? 'ბონუსი: '+(bonusTotalQuantityOther)?.toLocaleString() + ' ლარი'  :  'ოპერაცია: ' + salesTotalQuantityOther?.toLocaleString() + ' ცალი' }}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <ng-container *ngFor="let data of (!checked ? userSales : userBonuses)">
        <div class="progress-bar__container"
             *ngIf="!data.product.primary">
          <div class="progress-bar__labels">
            <div class="progress-bar__labels-left" routerLink="/product">
              {{data.product.name}}
            </div>
          </div>
          <div *ngIf="!checked" class="triangle-up" style="border-top: 10px solid red"
               [ngStyle]="{left: (data.competenceLevel.productMinSales/data.bankmax * 100) + '%', display: data.competenceLevel.productMinSales === 0 ? 'none' : ''}"
               [matTooltip]="'მინიმალური ზღვარი: ' + data.competenceLevel.productMinSales + ' ცალი'"
               matTooltipPosition="above"></div>
          <mat-icon class="triangle"
                    [ngStyle]="{left: (data.userResult/data.bankmax * 100) > 95 ? '95%' : (data.userResult/data.bankmax * 100) + '%', color: !checked ? data.competenceLevel.productMinSales <= data.userResult ? 'green' : 'red' : 'green'}"
                    [matTooltip]="!checked ? 'ჩემი შედეგი: ' + data.userResult + ' ცალი' : 'ჩემი შედეგი: ' + data.userResult + ' ლარი'"
                    matTooltipPosition="above">{{!checked ? data.competenceLevel.productMinSales > data.userResult ? 'sentiment_very_dissatisfied' : 'sentiment_satisfied' : 'sentiment_satisfied'}}</mat-icon>
          <mat-icon class="triangle-down" style="color: blue"
                    [ngStyle]="{left: (data.groupAverage/data.bankmax * 100) > 95 ? '95%' : (data.groupAverage/data.bankmax * 100) + '%'}"
                    [matTooltip]="!checked ? 'ჯგუფის საშუალო: ' + data.groupAverage + ' ცალი' : 'ჯგუფის საშუალო: ' + data.groupAverage + ' ლარი'"
                    matTooltipPosition="above">group</mat-icon>
          <img src="../../images/groupMax.png" class="triangle"
               [ngStyle]="{left: (data.groupMax/data.bankmax * 100) > 95 ? '95%' : (data.groupMax/data.bankmax * 100) + '%'}"
               [matTooltip]="!checked ? 'ჯგუფის მაქსიმუმი: ' + data.groupMax + ' ცალი' : 'ჯგუფის მაქსიმუმი: ' + data.groupMax + ' ლარი'"
               matTooltipPosition="above">
          <i class="fa fa-users triangle-down" style="color: #f067ff; top:8px; font-size: 0.9rem"
             [ngStyle]="{left: (data.bankAverage/data.bankmax * 100) > 95 ? '95%' : (data.bankAverage/data.bankmax * 100) + '%'}"
             [matTooltip]="!checked ? 'ბანკის საშუალო: ' + data.bankAverage + ' ცალი' : 'ბანკის საშუალო: ' + data.bankAverage + ' ლარი'"
             matTooltipPosition="above"></i>
          <img src="../../images/bankMax.png" class="triangle-down"  [ngStyle]="{left: '95%'}"
               [matTooltip]="!checked ? 'ბანკის მაქსიმუმი: ' + data.bankmax + ' ცალი' : 'ბანკის მაქსიმუმი: ' + data.bankmax + ' ლარი'"
               matTooltipPosition="above">
          <div class="progress-bar__level1" [ngStyle]="{ backgroundColor: !checked ? data.competenceLevel.productMinSales <= data.userResult ? 'green' : 'red' : 'green' }">
          </div>
        </div>

      </ng-container>
    </mat-expansion-panel>

    <!--Line Chart Start-->

    <div class="title-header">
      <h5 class="text-left">
        გრაფიკული ანალიზი
      </h5>
    </div>

    <mat-tab-group
      [(selectedIndex)]="selectedTab.value"
      (selectedIndexChange)="loadLineChartData(selected.value, ($event + 1) * 3)">
      <mat-tab label="გასული 3 თვე">
        <div class="padded" *ngIf="isDataAvailable && lineChartDataAvailable" style="padding: 0; margin-top: 30px">

          <canvas *ngIf="isDataAvailable && lineChartDataAvailable" baseChart
                  [datasets]="lineChartData"
                  [labels]="lineChartLabels"
                  [options]="lineChartOptions"
                  [colors]="lineChartColors"
                  [legend]="lineChartLegend"
                  [chartType]="lineChartType" #chart></canvas>

          <mat-form-field style="width: 100%; font-size: 12px">
            <mat-select placeholder="აირჩიეთ პროდუქტი" [(value)]="selected.value"
                        (selectionChange)="loadLineChartData(selected.value, 3)">
              <mat-option [value]="-1">ყველა პროდუქტი და მომსახურება</mat-option>
              <mat-option *ngFor="let product of lineChartArray.prorductsBonusesByMonths; let i = index" [value]="i" [ngStyle]="{display: product?.product.isPrimary ? '' : 'none'}">{{product.product.name}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </mat-tab>
      <mat-tab label="გასული 6 თვე">
        <div class="padded" *ngIf="isDataAvailable && lineChartDataAvailable" style="padding: 0; margin-top: 30px">

          <canvas baseChart
                  [datasets]="lineChartData"
                  [labels]="lineChartLabels"
                  [options]="lineChartOptions"
                  [colors]="lineChartColors"
                  [legend]="lineChartLegend"
                  [chartType]="lineChartType"></canvas>

          <mat-form-field style="width: 100%; font-size: 12px">
            <mat-select placeholder="აირჩიეთ პროდუქტი" [(value)]="selected.value"
                        (selectionChange)="loadLineChartData(selected.value, 6)">
              <mat-option [value]="-1">ყველა პროდუქტი და მომსახურება</mat-option>
              <mat-option *ngFor="let product of lineChartArray.prorductsBonusesByMonths; let i = index" [value]="i" [ngStyle]="{display: product?.product.isPrimary ? '' : 'none'}">{{product.product.name}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </mat-tab>
      <mat-tab label="გასული 9 თვე">
        <div class="padded" *ngIf="isDataAvailable && lineChartDataAvailable" style="padding: 0; margin-top: 30px">

          <canvas baseChart
                  [datasets]="lineChartData"
                  [labels]="lineChartLabels"
                  [options]="lineChartOptions"
                  [colors]="lineChartColors"
                  [legend]="lineChartLegend"
                  [chartType]="lineChartType"></canvas>

          <mat-form-field style="width: 100%; font-size: 12px">
            <mat-select placeholder="აირჩიეთ პროდუქტი" [(value)]="selected.value"
                        (selectionChange)="loadLineChartData(selected.value, 9)">
              <mat-option [value]="-1">ყველა პროდუქტი და მომსახურება</mat-option>
              <mat-option *ngFor="let product of lineChartArray.prorductsBonusesByMonths; let i = index" [value]="i" [ngStyle]="{display: product?.product.isPrimary ? '' : 'none'}">{{product.product.name}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </mat-tab>
      <mat-tab label="გასული 12 თვე">
        <div class="padded" *ngIf="isDataAvailable && lineChartDataAvailable" style="padding: 0; margin-top: 30px">

          <canvas baseChart
                  [datasets]="lineChartData"
                  [labels]="lineChartLabels"
                  [options]="lineChartOptions"
                  [colors]="lineChartColors"
                  [legend]="lineChartLegend"
                  [chartType]="lineChartType"></canvas>

          <mat-form-field style="width: 100%; font-size: 12px">
            <mat-select placeholder="აირჩიეთ პროდუქტი" [(value)]="selected.value"
                        (selectionChange)="loadLineChartData(selected.value, 12)">
              <mat-option [value]="-1">ყველა პროდუქტი და მომსახურება</mat-option>
              <mat-option *ngFor="let product of lineChartArray.prorductsBonusesByMonths; let i = index" [value]="i" [ngStyle]="{display: product?.product.isPrimary ? '' : 'none'}">{{product.product.name}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </mat-tab>
    </mat-tab-group>


    <!--Line Chart End-->
  </div>

  <!--Doughnut Chart Start-->

  <div class="fixed-container-right" *ngIf="isDataAvailable">
    <div class="profile__doughnut-chart">
      <!--<div class="title-header">-->
      <!--<h5 class="text-left">-->
      <!--ჩემი ბონუსი-->
      <!--</h5>-->
      <!--</div>-->
      <canvas height="120" width="120" baseChart
              [data]="doughnutChartData"
              [labels]="doughnutChartLabels"
              [chartType]="doughnutChartType"
              [options]="doughnutOptions"
              [colors]="doughnutChartColors"></canvas>
      <div class="profile__doughnut-chart--legend">
        <label class="chart-legend" *ngFor="let data of combinedArray"><span class="kvadrawik"
                                                                             [ngStyle]="{ backgroundColor: data.color }"></span>{{data.label}}</label>
      </div>
      <div class="doughnut-chart__label">
        <label>ჩემი ბონუსი <b>{{myBonusInGel}} ლარი</b></label>
      </div>
      <div class="doughnut-chart__rating-data">
        <div class="doughnut-chart__rating-data--right-side">
          <p>რეიტინგი ბანკში ბონუსის მიხედვით <b>{{bankStatistics?.bonusRatingDto.rating}}</b></p>
          <p>მაქსიმალური ბონუსი ბანკში <b>{{(bankStatistics?.bonusRatingDto.maxPoints)?.toLocaleString()}} ლარი</b></p>
        </div>
      </div>
    </div>

  </div>

  <!--Doughnut Chart End-->

</ng-container>


<!-- Spinner -->

<div class="login-backdrop" *ngIf="dataIsLoading">
  <mat-progress-spinner
    class="login-spinner"
    [color]="color"
    [mode]="mode"
    [value]="value">
  </mat-progress-spinner>
</div>
