.mat-card {
  width: 80%;
  transition: ease-out 0.3s;
  border-radius: 6px;
}

.mat-card:hover {
  transform: translateY(-5px) scale(1.02);
}

.mat-card-title {
  margin: 0;
  color: #e70d2f;
  transition: ease-out 0.3s;
}

.card-number {
  font-size: 2.43rem;
  font-weight: 500;
  font-family: "Avenir Next W01", "Proxima Nova W01", "Rubik", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  letter-spacing: 1px;
  line-height: 1.2;
  display: inline-block;
  vertical-align: middle;
  padding-left: 5px;
  transition: ease-out 0.3s;
}

.mat-card:hover .card-number {
  transform: translateY(-3px);
  color: #047bf8;
}

.mat-card:hover .mat-card-title {
  transform: translateY(-2px);
}

.profile-container {
  width: 66.66667%;
  padding: 0;
  display: inline-block;
}

.profile-background {
  position: relative;
  color: #fff;
  border-radius: 6px 6px 0 0;
  background: url(../../images/lb.jpg) no-repeat;
  height: 350px;
  background-size: cover;
}

.decor {
  position: absolute;
  bottom: -1px;
  right: 0px;
  max-width: 100%;
  z-index: 3;
}

.decor .decor-path {
  fill: #fff;
}

.profile-img {
  position: absolute;
  bottom: 0;
  right: 50px;
  z-index: 999;
  border-radius: 50%;
  width: 200px;
}

.profile__user--info {
  padding: 20px 5%;

}

.profile__user--info--details {
  width: 50%;
  display: inline-block;
  text-align: center;
  padding: 1rem 10px;
  border-bottom: #8d9092 1px solid;
}

.value {
  font-weight: 500;
  font-family: "Avenir Next W01", "Proxima Nova W01", "Rubik", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  letter-spacing: 1px;
  line-height: 1.2;
  display: inline-block;
  vertical-align: middle;
  font-size: 1.13rem;
  padding-bottom: 10px;
}

.label {
  display: block;
  font-size: 0.63rem;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.4);
  letter-spacing: 1px;
}

.progress-bar__container {
  margin-bottom: 3rem;
  margin-top: 3rem;
  position: relative;
}

.progress-bar__container .progress-bar__labels {
  position: absolute;
  top: -36px;
  width: 40%;
}

.progress-bar__level1 {
  width: 100%;
  border-radius: 12px;
  height: 6px;
  background-color: #989898;
}

.progress-bar__level2 {
  width: 80%;
  border-radius: 12px;
  height: 6px;
  background-color: #ff7776;
}

.progress-bar__level3 {
  width: 57%;
  border-radius: 12px;
  height: 6px;
  background-color: #e70d2f;
}

.profile__chart-container {
  width: 30.33337%;
  display: inline-block;
  margin-left: 3%;
}

.profile__doughnut-chart canvas {
  position: relative;
  z-index: 2;
  max-width: 100%;
}

.profile__line-chart {
  position: relative;
  z-index: 2;
  max-width: 66.66667%;
  width: 66.66667%;
  max-height: 600px;
}

.chartjs-render-monitor {
  max-height: 350px;
  max-width: 67%;
}

.profile__doughnut-chart--legend {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding-top: 1.5rem;
  margin-top: 2rem;
}
.user-name {
  position: relative;
  z-index: 4;
  display: block;
  width: 100%;
  padding-left: 5%;
}
.name {
  font-size: 1.5rem;
  margin-bottom: 10px;
  padding-bottom: 5px;
}
.mat-tab-group {
  width: 66.6667%;
}
.fill-av {
  min-height: -webkit-fill-available;
}
.chart-legend {
  display: inline-block;
  width: 50%;
  padding: 10px;
  font-size: 0.8rem;
}
.kvadrawik {
  content: '';
  display: inline-block;
  width: 8px;
  height: 8px;
  margin-right: 5px;
}
.doughnut-chart__label {
  position: absolute;
  top: 260px;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 0.83rem;
  text-transform: uppercase;
  z-index: 1;
}
.doughnut-chart__label strong {
  display: block;
  font-size: 1.98rem;
  line-height: 1.1;
}
.doughnut-chart__label label {
  display: block;
  color: rgba(0, 0, 0, 0.4);
}
.doughnut-chart__rating-data {
  position: absolute;
  top: 360px;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 9999;
  display: block;
  width: 66%;
}
.doughnut-chart__rating-data--left-side {
  width: 50%;
  display: inline-block;
}
.doughnut-chart__rating-data--right-side {
  width: 50%;
  display: inline-block;
}
.doughnut-chart__rating-data p {
  margin-top: 0;
}
.mat-divider {
  margin: 10px 0;
}
.triangle {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 10px solid #000;
  position: absolute;
  top: -13px;
  left: 5%;
}
.triangle-up {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 10px solid black;
  position: absolute;
  top: 8px;
  left: 5%;
}
.scrolled-container-center {
  padding: 25px;
  width: 70%;
  display: inline-block;
  height: calc(100vh - 260px);
  overflow-y: scroll;
  vertical-align: top;
}

.parameter-statistics {
  position: absolute;
  bottom: 20px;
  right: 15px;
  margin: 0;
  font-size: 0.8rem;
}
.fixed-container-right {
  display: inline-block;
  width: 25%;
  position: relative;
}

@media only screen and (max-width: 1690px) {
  .card-number {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 1480px) {
  .card-number {
    font-size: 1.6rem;
  }

  .mat-card-title {
    font-size: 0.8rem;
  }
}

@media only screen and (max-width: 1270px) {
  .card-number {
    font-size: 1.2rem;
  }
  .mat-card-title {
    font-size: 0.7rem;
  }
}

@media only screen and (max-width: 1115px) {
  .card-number {
    font-size: 1rem;
  }
  .mat-card-title {
    font-size: 0.6rem;
  }
}
